<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Sophie's web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="https://www.rover.com/blog/wp-content/uploads/2018/04/wiley-dalmatian-heart-nose-HERO-960x540.jpg" alt="Heart Nosed Dalmation"
    >
    <h1 style="background-color:DodgerBlue;">
  </head>
  <body>
  <h1 style="background-color:rgb(240, 240, 240);">...</h1>
  	<p>Hello! My name is Sophie and thank you for visting at my website. </p>
    <h1>Sophie's web site</h1>
    
   <ul>
		<li><a href="sports.html">My favorite sports</a></li>
		<li><a href="aboutme.html">About Me</a></li>
	 </ul>
    
    <p>The user count in my nodejs application is: <%= userCount %></p> 
    <p>The userbytwo count in my nodejs application is: <%= userbytwo %></p>
  </body>
</html>

